#### Task1
##### How to custom group  our data?

In [5]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Alice', 'John'],
    'Category': ['A', 'B', 'A', 'B', 'A'],
    'Value': [10, 20, 15, 25, 30]
}

df = pd.DataFrame(data)


# Group the data by 'Category' and calculate the average 'Value' for each group
grouped_data = df.groupby('Category')['Value'].mean()
grouped_data

Category
A    18.333333
B    22.500000
Name: Value, dtype: float64

#### Task2
##### Lamda Expression

In [6]:
double = lambda x: x * 2

result = double(5)
result

10